:root {
    /* Your default theme */
    --main-blue: #1971C2;
    --main-red: #D22F27;
    --main-darkblue: #00008B;
    --main-blue: #107DFE;
    --main-purple: #7D55F2;
    --main-aqua: #15AABF;
    --main-darkaqua: #073042;
    --main-green: #46C25C;
    --main-orange: #FD7E14;

    /* Your light theme */
    --addition-one: #49507D;
    --addition-two: #F1F3F5;
    --addition-three: #FFFFFF;
    --addition-four: #EEEEEE;
    --addition-five: #E9ECEF;
}

/* Your dark theme */
[data-theme='dark'] {
    --addition-one: #ACB9C1;
    --addition-two: #2C2E33;
    --addition-three: #25262B;
    --addition-four: #1A1B1E;
    --addition-five: #2C2E33;
}

.navbar-text-color{
    color: var(--addition-one);
}
.navbar-bg-color, .footer-bg-color{
    background: var(--addition-three);
}

.card-skill-hover:hover{
    background: var(--addition-four);
}

.img-custom{
    background-image: url('../public/assets/image/thumbnail.jpg');
}