:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
}

/*body{
    background-color: var(--background);
}*/

.navbar-text-color{
    color: var(--foreground);
}
.navbar-bg-color{
    background: var(--background);
}